#main {
    margin: 0 auto;
    width: 80%;
}

.product-container {
    float: left;
    width: 60%;
    max-width: 600px;
}

.cart-container {
    float: left;
    font-size: .8em;
    max-width: 400px;
    text-align: right;
    width: 40%;
}

.product-list-view, .cart-view {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.product-list-item {
    width: 200px;
    vertical-align: top;
}

.product-list-item span {
    display: block;
}

.product-list-item {
    margin: 1em;
    display: inline-block;
}

.messages-container {
    clear: both;
    text-align: center;
}

.message {
    opacity: 0;
    transition: opacity .5s ease;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
}

.adding-to-cart .message.adding {
    opacity: 1;
}