article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a:hover,
a:active {
  outline: 0;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}

#main {
    margin: 0 auto;
    width: 80%;
}

.product-container {
    float: left;
    width: 60%;
    max-width: 600px;
}

.cart-container {
    float: left;
    font-size: .8em;
    height: 100%;
    overflow: hidden;
    max-width: 500px;
    width: 30%;
}

#cart {
    background-color: #eee;
    min-height: 200px;
    padding: 1em;
    text-align: right;
}

.product-list-view, .cart-view {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.product-list-item {
    border: 1px solid #ccc;
    display: inline-block;
    margin: .5em;
    padding: 1em;
    vertical-align: top;
    width: 150px;
}

.product-list-item span {
    display: block;
}

.messages-container {
    clear: both;
    text-align: center;
}

.message {
    opacity: 0;
    transition: opacity .5s ease;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
}

.adding-to-cart .message.adding {
    opacity: 1;
}